@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

* {
   margin: 0; 
   padding: 0;
   overflow: hidden;
}

header {
   position: absolute;
   z-index: 1;
}

.node-label {
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: none;
  user-select: none;
}